/* -----------------im---------------------- */

.inputbox {
    height: 90px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.input {
    height: 100%;
    width: 100%;
    border: none;
    color: #333;
    font-size: 14px;
    overflow-y: scroll;
    display: inline-block;
    -webkit-user-modify: read-write-plaintext-only;
    outline: none;
}

.member {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.iconbox {
    margin-right: 8px;
}

.selected {
    color: #fff;
    /* background-color: #1264a3; */
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

