.App {
  text-align: left;
  
  ul,li{
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}


:root {
  --wk-color-theme: #2E6DFB;
  --wk-color-secondary: rgba(246, 246, 246);
  --wk-color-secondary-2:  rgba(246, 246, 246);
  --wk-color-hover: #eee;
  /* 提示类型的字体颜色 */
  --wk-color-font-tip: rgb(170,170,170);
  --wk-width-layout-content-left: 300px;
  --wk-wdith-conversation-list: var(--wk-width-layout-content-left);
  /* --wk-height-chat-search: 65px; */
  --wk-height-chat-search: 64px;
  --wk-height-chat-conversation-header: 64px;
  --wk-wdith-chat-channelsetting: 340px;
  --wk-layer-transition: 300ms cubic-bezier(0.33,1,0.68,1);
  --wk-slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);

  --wk-line: 1px solid #eee;
  --wk-line-color:  #eee;

  --wk-color-item: white;
  --wk-text-item:  rgba(9,30,66,.87);

  --wk-message-item: white;
  --wk-message-color: #0F0F0F;
}